body {
    margin: 0;
    padding: 0;
}

.coctel {
    width: 100%;
    height: 110px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
}

.container_coctel {
    margin: auto;
}

p {
    font-size: 25px;
}

button {
    width: 120px;
    margin-top: 15px;
    margin-top: 32px;
    margin-right: 12px;
}

button#reload {
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 20px;
}